@import '../../../styles';

.busca {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  padding: 13px 16px;
  color: $sec-color;
  background-color: $ter-color;
  border-radius: 12px;
  width: 327px;
  height: 48px;
  border: 1px solid $gray-medium;

  @media (max-width: 767px){
    margin-top: 22px;
    width: 100%;
  }

  
  &::placeholder{
    color: $sec-color;
  }
}