@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins&display=swap');


// paleta de cores globais
$main-color: #0A0A0A;
$sec-color: #fff;
$ter-color: #1F1F1F;
$gray-medium: #3D3D3D;
$gray-light: #CACACA;
$title-color: #00B5CC;
$border-title-color: #B2DF28;


// fonts 
$main-font: "Poppins", sans-serif;
$sec-font: "Creepster", system-ui;


html,
body {
  font-size: 16px;
  font-family: $main-font;
  background-color: $ter-color;

  @media (max-width: 767px){
    font-size: 14px; 
  }
}

* {
  font-family: $main-font;
  box-sizing: border-box;
}

.main {
  max-width: 720px;
  width: 100%;
  margin: 112px auto 48px;

  @media (max-width: 767px){
    padding: 0 14px;
    margin-top: 162px;
  }
}

.container {
  max-width: 100%;
  padding: 0 1.5rem;
}

.title-page {
  font-family: $sec-font;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.02em;
  color: $title-color;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $border-title-color;

  @media (max-width: 767px){
    text-align: center;
  }
}

.list-cards {
  .top {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px){
      flex-direction: column;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;

    @media (max-width: 767px){
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  background-color: $sec-color;
  color: $main-color;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
  text-decoration: none;
  height: 40px;
  border-radius: 12px;
  border: 0;
  transition: .5s;
  cursor: pointer;
  
  &:hover{
    transform: scale(1.03);
    transition: .5s;
  }
}